@model FitnessWeb.Models.TrainingRide

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TrainingRide</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartOdometer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartOdometer)
                @Html.ValidationMessageFor(model => model.StartOdometer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndOdometer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndOdometer)
                @Html.ValidationMessageFor(model => model.EndOdometer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RideTimeHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RideTimeHours)
                @Html.ValidationMessageFor(model => model.RideTimeHours)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RideTimeMinutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RideTimeMinutes)
                @Html.ValidationMessageFor(model => model.RideTimeMinutes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RideTimeSeconds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RideTimeSeconds)
                @Html.ValidationMessageFor(model => model.RideTimeSeconds)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AverageHR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AverageHR)
                @Html.ValidationMessageFor(model => model.AverageHR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxHR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxHR)
                @Html.ValidationMessageFor(model => model.MaxHR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AverageCadence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AverageCadence)
                @Html.ValidationMessageFor(model => model.AverageCadence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ElevationGain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ElevationGain)
                @Html.ValidationMessageFor(model => model.ElevationGain)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxSpeed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxSpeed)
                @Html.ValidationMessageFor(model => model.MaxSpeed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WindSpeed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WindSpeed)
                @Html.ValidationMessageFor(model => model.WindSpeed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WindDirection, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WindDirection)
                @Html.ValidationMessageFor(model => model.WindDirection)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temperature, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temperature)
                @Html.ValidationMessageFor(model => model.Temperature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precipitation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precipitation)
                @Html.ValidationMessageFor(model => model.Precipitation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BikeId, "BikeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BikeId", String.Empty)
                @Html.ValidationMessageFor(model => model.BikeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteId, "RouteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RouteId", String.Empty)
                @Html.ValidationMessageFor(model => model.RouteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
