@model FitnessWeb.Models.TrainingRide

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingRide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bike.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bike.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartOdometer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartOdometer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOdometer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOdometer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideTimeHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideTimeHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideTimeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideTimeSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideTimeSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageHR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxHR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageCadence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCadence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElevationGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElevationGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precipitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precipitation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
