@model ShootingManager.Web.ViewModels.PrimerViewModel
@using ShootingManager.Entities.Models;

@{
    ViewBag.Title = "Primer Details";
}
<head>
    <title>Shooting Manager: Primer Details - @(((Primer)@Model.Entity).Name)</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Primer Index", "Index", "Primer", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Primer Details</h2>

    @using (Html.BeginForm("Edit", "Primer", FormMethod.Post, new { @class = "grid-form" }))
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
                <hr />
                <br />

                <fieldset>

                    <legend>Basic Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Primer)model.Entity).Name, "Name:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Primer)model.Entity).Name)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => model.EntityView.PrimerTypeAbbreviation, "Primer Type:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.ActionLink(Model.EntityView.PrimerTypeName, "Details", "PrimerType", new { id = ((Primer)Model.Entity).PrimerTypeId }, new { @class = "EditLinkStyle" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => model.EntityView.ManufacturerName, "Manufacturer:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.ActionLink(Model.EntityView.ManufacturerName, "Details", "Manufacturer", new { id = ((Primer)Model.Entity).ManufacturerId }, new { @class = "EditLinkStyle" })
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset>

                    <br />
                    <br />
                    <legend>Optional Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Primer)model.Entity).Notes, "Notes:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Primer)model.Entity).Notes)
                            </div>
                        </div>
                    </div>

                </fieldset>

                <br />
                <hr />
            </div>
    }
    <div class="col-md-offset-2 col-md-10">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = ((Primer)Model.Entity).Id }, new { @class = "btn-style" })
        </p>
    </div>
</div>