@model ShootingManager.Web.ViewModels.BulletViewModel
@using ShootingManager.Entities.Models;

@{
    ViewBag.Title = "Delete Bullet";
}
<head>
    <title>Shooting Manager: Delete Bullet - @(((Bullet)@Model.Entity).Name)</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Bullet Index", "Index", "Bullet", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Delete Bullet</h2>

    <h3>Are you sure you want to delete this bullet?</h3>
    <div>
        @using (Html.BeginForm("Delete", "Bullet", FormMethod.Post, new { @class = "grid-form" })) 
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <hr />
                <br />

                <fieldset>

                    <legend>Basic Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).Name, "Name:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).Name)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => model.EntityView.BulletTypeAbbreviation, "Bullet Type:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => model.EntityView.BulletTypeAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => model.EntityView.MaterialName, "Material:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => model.EntityView.MaterialName)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).Diameter, "Diameter:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).Diameter)
                                @Html.DisplayFor(model => model.EntityView.DiameterUnitViewAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).Mass, "Mass:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).Mass)
                                @Html.DisplayFor(model => model.EntityView.MassUnitViewAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).SectionalDensity, "Sectional Density:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).SectionalDensity)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).BallisticCoefficient, "Ballistic Coefficient:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).BallisticCoefficient)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).Length, "Length:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).Length)
                                @Html.DisplayFor(model => model.EntityView.LengthUnitViewAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => model.EntityView.ManufacturerName, "Manufacturer:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => model.EntityView.ManufacturerName)
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset>

                    <br />
                    <br />
                    <legend>Optional Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Bullet)Model.Entity).Notes, "Notes:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Bullet)Model.Entity).Notes)
                            </div>
                        </div>
                    </div>

                </fieldset>

                <br />
                <hr />
            </div>

            <div class="col-md-offset-2 col-md-10">
                @{if (Model.CanDelete)
                    {
                        <input type="submit" value="Delete" class="btn-style" />
                    }
                    else
                    {
                        <input type="submit" value="Delete" class="btn-styledisabled" disabled title="This bullet cannot be deleted since it is used in cartridge loads." />
                    }
                }
            </div>
                    }
    </div>
</div>