@model ShootingManager.Entities.Models.Manufacturer

@{
    ViewBag.Title = "Edit Manufacturer";
}
<head>
    <title>Shooting Manager: Edit Manufacturer - @(@Model.Name)</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Manufacturer Index", "Index", "Manufacturer", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Edit Manufacturer</h2>

    @using (Html.BeginForm("Edit", "Manufacturer", FormMethod.Post, new { @class = "grid-form" }))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <hr />
            <br />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <fieldset>

                <legend>Basic Information</legend>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.Label("Short Name", new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.ShortName)
                            @Html.ValidationMessageFor(model => model.ShortName)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.City)
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-2">
                            @Html.DropDownList("State", String.Empty)
                            @Html.ValidationMessageFor(model => model.State)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.Zip)
                            @Html.ValidationMessageFor(model => model.Zip)
                        </div>
                    </div>
                </div>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.URL, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.URL)
                            @Html.ValidationMessageFor(model => model.URL)
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset>

                <br />
                <br />
                <legend>Optional Information</legend>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.Notes)
                            @Html.ValidationMessageFor(model => model.Notes)
                        </div>
                    </div>
                </div>

            </fieldset>

            <br />
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn-style" />
                </div>
            </div>
        </div>
    }
</div>