@model local.yellowcaddis.ShootingManager.Core.Entities.Bullet

<div class="item">
    <h3>@Model.Caliber1.Name</h3>
    @Model.Material.Name</br>
    @Model.Manufacturer1.Name</br>
    @Model.Length @Model.Unit.Name
    <h4>@Model.Caliber1.Notes</h4>
</div>

