@model local.yellowcaddis.ShootingManager.Core.Entities.Manufacturer

<div class="item">
    <h3>@Model.Name</h3>
    <b>Address:</b> @Model.Address</br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.City, @Model.State @Model.Zip
</div>

