@model ShootingManager.Web.ViewModels.CaliberViewModel
    @using ShootingManager.Entities.Models;

@{
    ViewBag.Title = "Delete Caliber";
}
<head>
    <title>Shooting Manager: Delete Caliber - @(((Caliber)@Model.Entity).Name)</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Caliber Index", "Index", "Caliber", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Delete Caliber</h2>

    <h3>Are you sure you want to delete this caliber?</h3>
    <div>

        @using (Html.BeginForm("Delete", "Caliber", FormMethod.Post, new { @class = "grid-form" }))
        { 
            @Html.AntiForgeryToken()
            
            <div class="form-horizontal">

                <fieldset>
        
                    <legend>Basic Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).Name, "Name:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Caliber)Model.Entity).Name)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).Diameter, "Diameter:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Caliber)Model.Entity).Diameter)
                                &nbsp;
                                @Html.DisplayFor(model => model.EntityView.DiameterUnitViewAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).BrassLength, "Brass Length:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Caliber)Model.Entity).BrassLength)
                                &nbsp;
                                @Html.DisplayFor(model => model.EntityView.BrassLengthUnitViewAbbreviation)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).SortOrder, "Sort Order:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Caliber)Model.Entity).SortOrder)
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).PrimerType, "Primer Type:", new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => model.EntityView.PrimerTypeAbbreviation)
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset>

                    <br />
                    <br />
                    <legend>Optional Information</legend>

                    <div class="form-group" data-row-span="1">
                        <div data-field-span="1">
                            @Html.LabelFor(model => ((Caliber)Model.Entity).Notes, "Notes:",  new { @class = "control-label col-md-2" })
                            <div class="control-label col-md-1">
                                @Html.DisplayFor(model => ((Caliber)Model.Entity).Notes)
                            </div>
                        </div>
                    </div>

                </fieldset>

                <br />
                <hr />
            </div>
            <div class="col-md-offset-2 col-md-10">
                @{if (Model.CanDelete)
                    {
                        <input type="submit" value="Delete" class="btn-style" />
                    }
                    else
                    {
                        <input type="submit" value="Delete" class="btn-styledisabled" disabled title="This caliber cannot be deleted since it is used in other components." />
                    }
                }
            </div>
                    }
    </div>
</div>