@model IEnumerable<Data.Core.Interfaces.IEntity>

@{
    ViewBag.Title = "Bullet Type Index";
}
<head>
    <title>Shooting Manager: Bullet Type Index</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Bullet Type Index</h2>

    @Html.ActionLink("Create New", "Create", null, new { @class = "EditLinkStyle" })
    <br />
    <br />
    <div class="control-label col-md-offset-5">
        <input type="search" class="light-table-filter" data-table="tablesorter" placeholder="Filter">
    </div>
    <br />
    <table class="tablesorter" id="shootingtable">
        <thead>
            <tr>
                <th>
                    @Html.Label("Name")
                </th>
                <th>
                    @Html.Label("Abbreviation")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ShootingManager.Entities.Models.BulletType item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abbreviation)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "EditLinkStyle" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "EditLinkStyle" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "EditLinkStyle" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tablefilter")
    <script type="text/JavaScript">
        $(document).ready(function () {
            $("#shootingtable").tablesorter();
        }
        );
    </script>
}