@model ShootingManager.Entities.Models.InventoryType

@{
    ViewBag.Title = "Edit Inventory Type";
}
<head>
    <title>Shooting Manager: Edit Inventory Type - @(@Model.Description)</title>
</head>
<div class="container">
    <div class="row">
        @Html.ActionLink("Shooting Manager Home", "Index", "Home", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Shooting Manager Items", "Index", "Item", null, new { @class = "NavLinkStyle" }) | @Html.ActionLink("Inventory Type Index", "Index", "InventoryType", null, new { @class = "NavLinkStyle" })
    </div>

    <h2>Edit Bullet Type</h2>

    @using (Html.BeginForm("Edit", "InventoryType", FormMethod.Post, new { @class = "grid-form" }))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <hr />
            <br />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <fieldset>

                <legend>Basic Information</legend>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset>

                <br />
                <br />
                <legend>Optional Information</legend>

                <div class="form-group" data-row-span="1">
                    <div data-field-span="1">
                        @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
                        <div class="control-label col-md-9">
                            @Html.TextAreaFor(model => model.Notes, new { @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Notes)
                        </div>
                    </div>
                </div>

            </fieldset>

            <br />
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn-style" />
                </div>
            </div>
        </div>
    }
</div>